        img{
            width: 50px;
            position: absolute; 	
            top: 60px;
            margin-left: 170px;
           }
          h3{
            position: absolute;
            margin-left: -2px;
            top: 60px;
            font: 10pt Arial;
            color: red;
              
          }
            
        body{
            background:
            width:200px;
            height: 200px;
            line-height: 20px;
            display            
            border-right: 10px solid #606060;
            padding: 5px 0px 5px 0px;
            float: left;
            border-top: 20xp solid#606060;
            margin: 100px;
            
            }
        
        div{
            color: white;
            background: blue;  
            width: 200px;
            font: normal 15px Arial;
            }
            
          p{
            color: white;
            background: green; 
            width: 200px; 
            font: normal 15px Arial;
            text-align: center; 
            box-shadow: 0px 0px 10px rgba(0,0,0,.9); 
         }
          h1{        
             background: black;
             color: white;
             font-family: 'Fontelogo', sans-serif;
             font-Size: 15pt;
             margin-bottom: 19px;
             box-shadow: 0px 0px 10px rgba(200,0,0,.9);
             }
             
        input{
        background: gray;
        width: 80px;
              box-shadow: 0px 0px 10pxrgba(20,10,100,.9);
              color: yellow;
              text-align: center;                    
              }
              
           img{
           text-align: center;
                 left: 1px;
             }
           h2{
                font: normal 12px Arial;
            }